doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Botany
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    block styles
        // STYLES
        link(rel="stylesheet", href="/styles/importer.css")
        link(rel="stylesheet", href="/styles/materialize.css")
        link(rel="stylesheet", href="/styles/style.css")
        // STYLES END
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

  body
    .row
       nav.green.lighten-1(role='navigation')
          .nav-wrapper.container
              .row
                a#logo-container.brand-logo.right(href="/") InfoPlant Database
                  i.mdi-action-language
                    //- img(src="/images/logo.png" style="height:65px;")
                ul.left.hide-on-med-and-down
                    li
                        a(href="/")  Home
                    li
                        a(href="/admin") admin
                ul#nav-mobile.side-nav.brown.lighten-2
                    li
                        a(href="/")  Home
                    li
                        a(href="/performance") Performance
                a.button-collapse(data-activates="nav-mobile")
                    i.mdi-navigation-menu
    block body

    

  // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
  // SCRIPTS
  script(src="/js/dependencies/sails.io.js")
  script(src="/js/dependencies/jquery-1.10.2.min.js")
  script(src="/js/dependencies/angular.min.js")
  script(src="/js/dependencies/angular-resource.min.js")
  script(src="/js/dependencies/init.js")
  script(src="/js/dependencies/materialize.js")
  script(src="/js/myapp.js")
  // SCRIPTS END

