extends ../layout


block body
	.row.container(ng-controller='homeCtrl')
		h3 Add Medicinal plants
		form.centered.col.m8(method='post' action='plant/create' enctype="multipart/form-data")
			.row
				.input-field.col.s12
					input#scientificName.validate( type="text" name='scientificName')
					label(for="scientificName") Scientific Name
			.row
				.input-field.col.s12
					input#localName.validate(type="text" required name='localName' )
					label(for="localName") Local name
			.row
				.input-field.col.s6
					input#kingdom.validate(type="text" required name='kingdom' )
					label(for="kingdom") Kingdom
				.input-field.col.s6
					input#phylum.validate(type="text" required name='phylum')
					label(for="phylum") Phylum
			.row
				.input-field.col.s6
					input#plantClass.validate(type="text" required name='plantClass')
					label(for="plantClass") Class
				.input-field.col.s6
					input#order.validate(type="text" required name='order' )
					label(for="order") Order
			.row
				.input-field.col.s6
					input#family.validate(type="text" required name='family')
					label(for="family") Family
				.input-field.col.s6
					input#genus.validate(type="text" required name='genus' )
					label(for="genus") Genus
			.row
				.input-field.col.s6
					input#species.validate(type="text" required name='species')
					label(for="species") Species
				.input-field.col.s6
					input#phytochemicals.validate(type="text" required name='phytochemicals')
					label(for="phytochemicals") Phytochemicals
			
			.row
				.input-field.col.s12
					textarea#pharmachologicalActivity.materialize-textarea(name='pharmachologicalActivity')
					label(for="pharmachologicalActivity") Pharmachological Activity
			.row
				.input-field.col.s12
					textarea#ethnomedical.materialize-textarea(name='ethnomedical')
					label(for='ethnomedical') Ethnomedical uses
			.row
				.input-field.col.s12
					textarea#references.materialize-textarea(name='references')
					label(for='references') References
			.row
				.file-field.input-field
					.btn
						span Image
						input(type="file" name='image')
					.file-path-wrapper
						input.file-path.validate(type='text' required)
			.row
				input-field.col.s12
					button.btn.waves-effect.waves-light(type='submit') Add

				
	