extends ../layout



block body
  div.container.home(ng-app='myApp')
    .row.content(ng-controller='homeCtrl')
      .col.m9.l9.s12
        .input-field.col.s8.m8.l8.offset-l2.offset-m2
          <i class="material-icons prefix">search</i>
          input#search.validate(type="text" ng-model='searchString' )
          label(for="search") Type local name to search
        .row
          .col.s12.m6.l4(ng-repeat="plant in plants | searchFor:searchString")
            .card.medium
                .card-image
                  img.responsive-img(src='/plant/getFile?fd={{plant.image}}' width='100')
                  span.card-title.localName
                    a.yellow-text(href="/single?id={{plant.id}}") {{plant.localName}}
      .col.m3.l3.s12
        h5 Recently added
        ul.collection
          li.collection-item.avatar(ng-repeat="plant in recentPlants" )
              img.responsive-img.circle(src='/plant/getFile?fd={{plant.image}}')
              span.title.black-text {{plant.localName}}
              button.small.btn.waves-effect.waves-light(ng-click="delete(plant.id,$index)") delete


        //- .col.s12.card-panel(ng-repeat="plant in recentPlants")
        //-   .col.s2
        //-     img.responsive-img(src='/plant/getFile?fd={{plant.image}}')
        //-   .col.s10
        //-     span.black-text {{plant.localName}}

   
