extends ../layout


block body
	.container
		.row
			form.col.m12.s12(action='/session/create' method='post')
				if flash
					h4.text-danger Error restricted access
					p=flash.message
				.row
					.input-field
						label(for='username') Username/Email
						input#username.validate( name='username' type='text' required)
				.row
					.input-field
						label(for='password') Password
						input#password.validate( type="password" name='password' required)
				.row
					.input-field
						button.waves-effect.waves-light.btn(type='submit') Login
						input(type="hidden" name="_csrf" value='#{_csrf}')