extends ../layout



block body
	.row.container
		.col.s12
			.card
				.card-image
					img( src='/plant/getFile?fd=#{plant.image}').responsive-img
					.card-title #{plant.localName}
				.card-content
					table.striped.centered
						tr
							td
								strong Scientific Name
							td #{plant.scientificName}
						tr
							td
								strong Local Name
							td #{plant.localName}
						tr
							td
								strong Order
							td #{plant.order}
						tr
							td
								strong Phylum
							td=plant.phylum
						tr
							td
								strong Class
							td=plant.plantClass
						tr
							td
								strong Species
							td #{plant.species}
						tr
							td
								strong Genus
							td #{plant.genus}
						tr
							td
								strong Family
							td=plant.family
					h4 Ethnomedical uses
					p=plant.ethnomedical
					h4 Phytochemicals
					p=plant.phytochemicals
					h4 Pharmachological Activity
					p=plant.pharmachologicalActivity
					h4 References
					p=plant.references


